@import "tailwindcss";

body {
  background: linear-gradient(
    to right top,
    #EDEDE9,
    #D6CCC2,
    #F5EBE0,
    #F5EBE0,
    #D5BDAF
  );  
  background-size: 200% 200%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: homeAnimation 110s ease infinite;
  color: #1A1A1A;
}

.animate-home {
  animation: homeAnimation 110s ease infinite;
}

@keyframes homeAnimation {
 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

tbody tr:nth-child(even) {
  background-color: #F5EBE0;
  color: #1A1A1A;
}
tbody tr:nth-child(odd) {
  background-color: white;
  color: #1A1A1A;
}

.animate-table {
  animation: tableAnimation 0.6s ease forwards;
}

@keyframes tableAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  display: none;  
}

