@import "tailwindcss";

body {
  background: linear-gradient(
    to right top,
    #77BFA3,  
    #98C9A3,
    #BFD8BD,
    #DDE7C7,
    #EDEEC9
  );  
  background-size: 200% 200%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: homeAnimation 110s ease infinite;
  font-size: 18px;
}

.animate-home {
  animation: homeAnimation 110s ease infinite;
}

@keyframes homeAnimation {
 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}