@import "tailwindcss";

body {
  background: linear-gradient(
    to right top,
    #EDEDE9,
    #D6CCC2,
    #F5EBE0,
    #F5EBE0,
    #D5BDAF
  );  
  background-size: 200% 200%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: homeAnimation 110s ease infinite;
  color: #1A1A1A;
}

.animate-home {
  animation: homeAnimation 110s ease infinite;
}

@keyframes homeAnimation {
 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

tbody tr:nth-child(even) {
  background-color: #F5EBE0;
  color: #1A1A1A;
}
tbody tr:nth-child(odd) {
  background-color: white;
  color: #1A1A1A;
}

.animate-table {
  animation: tableAnimation 0.6s ease forwards;
}

@keyframes tableAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-export:hover {
  animation: exportSpin 0.5s ease-in-out 1;
}

@keyframes exportSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-page-button {
  animation: pageButtonAnimation 0.5s ease-in-out forwards;
}

@keyframes pageButtonAnimation {
  from {
    opacity: 0;
    transform: translateX(20)
  }
  to {
    opacity: 1;
    transform: translateX(0)  
  }
}

.animate-notification {
  animation: notificationAnimation 0.4s ease-in-out forwards;
}

@keyframes notificationAnimation {
  from {
    opacity: 0;
    transform: translateY(-20)
  }
  to {
    opacity: 1;
    transform: translateX(0)  
  }
}

::-webkit-scrollbar {
  display: none;  
}

